<ul
    class="todo-list"
    hx-get="/todos"
    hx-swap="outerHTML"
    hx-trigger="clearedCompleted from:body, completedAll from:body, updatedTodo from:body"
>
    {{ range .Todos }}
        {{ template "todo.tmpl" . }}
    {{ end }}
</ul>
